IMPORTING THE TRAIN DATA

In [1]:
import pandas as pd
df_Train=pd.read_csv("Data_Train.csv")
print (df_Train)

           Airline Date_of_Journey    Source Destination  \
0           IndiGo      24/03/2019  Banglore   New Delhi
1        Air India       1/05/2019   Kolkata    Banglore
2      Jet Airways       9/06/2019     Delhi      Cochin
3           IndiGo      12/05/2019   Kolkata    Banglore
4           IndiGo      01/03/2019  Banglore   New Delhi
...            ...             ...       ...         ...
10678     Air Asia       9/04/2019   Kolkata    Banglore
10679    Air India      27/04/2019   Kolkata    Banglore
10680  Jet Airways      27/04/2019  Banglore       Delhi
10681      Vistara      01/03/2019  Banglore   New Delhi
10682    Air India       9/05/2019     Delhi      Cochin

                       Route Dep_Time  Arrival_Time Duration Total_Stops  \
0                  BLR ? DEL    22:20  01:10 22 Mar   2h 50m    non-stop
1      CCU ? IXR ? BBI ? BLR    05:50         13:15   7h 25m     2 stops
2      DEL ? LKO ? BOM ? COK    09:25  04:25 10 Jun      19h     2 stops
3            CCU ? NAG ? BLR    18:05         23:30   5h 25m      1 stop
4            BLR ? NAG ? DEL    16:50         21:35   4h 45m      1 stop
...                      ...      ...           ...      ...         ...
10678              CCU ? BLR    19:55         22:25   2h 30m    non-stop
10679              CCU ? BLR    20:45         23:20   2h 35m    non-stop
10680              BLR ? DEL    08:20         11:20       3h    non-stop
10681              BLR ? DEL    11:30         14:10   2h 40m    non-stop
10682  DEL ? GOI ? BOM ? COK    10:55         19:15   8h 20m     2 stops

      Additional_Info  Price
0             No info   3897
1             No info   7662
2             No info  13882
3             No info   6218
4             No info  13302
...               ...    ...
10678         No info   4107
10679         No info   4145
10680         No info   7229
10681         No info  12648
10682         No info  11753

[10683 rows x 11 columns]

In [2]:
df_Train.shape

(10683, 11)

In [3]:
import pandas as pd
df_Test=pd.read_csv("Test_set.csv")
print (df_Test)

                Airline Date_of_Journey    Source Destination  \
0           Jet Airways       6/06/2019     Delhi      Cochin
1                IndiGo      12/05/2019   Kolkata    Banglore
2           Jet Airways      21/05/2019     Delhi      Cochin
3     Multiple carriers      21/05/2019     Delhi      Cochin
4              Air Asia      24/06/2019  Banglore       Delhi
...                 ...             ...       ...         ...
2666          Air India       6/06/2019   Kolkata    Banglore
2667             IndiGo      27/03/2019   Kolkata    Banglore
2668        Jet Airways       6/03/2019     Delhi      Cochin
2669          Air India       6/03/2019     Delhi      Cochin
2670  Multiple carriers      15/06/2019     Delhi      Cochin

                Route Dep_Time  Arrival_Time Duration Total_Stops  \
0     DEL ? BOM ? COK    17:30  04:25 07 Jun  10h 55m      1 stop
1     CCU ? MAA ? BLR    06:20         10:20       4h      1 stop
2     DEL ? BOM ? COK    19:15  19:00 22 May  23h 45m      1 stop
3     DEL ? BOM ? COK    08:00         21:00      13h      1 stop
4           BLR ? DEL    23:55  02:45 25 Jun   2h 50m    non-stop
...               ...      ...           ...      ...         ...
2666  CCU ? DEL ? BLR    20:30  20:25 07 Jun  23h 55m      1 stop
2667        CCU ? BLR    14:20         16:55   2h 35m    non-stop
2668  DEL ? BOM ? COK    21:50  04:25 07 Mar   6h 35m      1 stop
2669  DEL ? BOM ? COK    04:00         19:15  15h 15m      1 stop
2670  DEL ? BOM ? COK    04:55         19:15  14h 20m      1 stop

                  Additional_Info
0                         No info
1                         No info
2     In-flight meal not included
3                         No info
4                         No info
...                           ...
2666                      No info
2667                      No info
2668                      No info
2669                      No info
2670                      No info

[2671 rows x 10 columns]

In [4]:
df_Test.shape

(2671, 10)

In [5]:
df_Final=df_Train.append(df_Test,sort=False)

In [6]:
df_Final.head(10)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR ? DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL ? LKO ? BOM ? COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0
5,SpiceJet,24/06/2019,Kolkata,Banglore,CCU ? BLR,09:00,11:25,2h 25m,non-stop,No info,3873.0
6,Jet Airways,12/03/2019,Banglore,New Delhi,BLR ? BOM ? DEL,18:55,10:25 13 Mar,15h 30m,1 stop,In-flight meal not included,11087.0
7,Jet Airways,01/03/2019,Banglore,New Delhi,BLR ? BOM ? DEL,08:00,05:05 02 Mar,21h 5m,1 stop,No info,22270.0
8,Jet Airways,12/03/2019,Banglore,New Delhi,BLR ? BOM ? DEL,08:55,10:25 13 Mar,25h 30m,1 stop,In-flight meal not included,11087.0
9,Multiple carriers,27/05/2019,Delhi,Cochin,DEL ? BOM ? COK,11:25,19:15,7h 50m,1 stop,No info,8625.0

In [7]:
df_Final.tail(10)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
2661,Jet Airways,27/03/2019,Delhi,Cochin,DEL ? AMD ? BOM ? COK,19:10,04:25 29 Mar,33h 15m,2 stops,No info,NaN
2662,Air India,21/05/2019,Mumbai,Hyderabad,BOM ? HYD,13:55,15:25,1h 30m,non-stop,No info,NaN
2663,GoAir,12/05/2019,Kolkata,Banglore,CCU ? BOM ? BLR,23:30,07:45 13 May,8h 15m,1 stop,No info,NaN
2664,Multiple carriers,15/06/2019,Delhi,Cochin,DEL ? BOM ? COK,15:15,01:30 16 Jun,10h 15m,1 stop,No info,NaN
2665,SpiceJet,21/06/2019,Mumbai,Hyderabad,BOM ? HYD,22:45,00:15 22 Jun,1h 30m,non-stop,No check-in baggage included,NaN
2666,Air India,6/06/2019,Kolkata,Banglore,CCU ? DEL ? BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,NaN
2667,IndiGo,27/03/2019,Kolkata,Banglore,CCU ? BLR,14:20,16:55,2h 35m,non-stop,No info,NaN
2668,Jet Airways,6/03/2019,Delhi,Cochin,DEL ? BOM ? COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,NaN
2669,Air India,6/03/2019,Delhi,Cochin,DEL ? BOM ? COK,04:00,19:15,15h 15m,1 stop,No info,NaN
2670,Multiple carriers,15/06/2019,Delhi,Cochin,DEL ? BOM ? COK,04:55,19:15,14h 20m,1 stop,No info,NaN

In [8]:
df_Final.dtypes

Airline             object
Date_of_Journey     object
Source              object
Destination         object
Route               object
Dep_Time            object
Arrival_Time        object
Duration            object
Total_Stops         object
Additional_Info     object
Price              float64
dtype: object

In [9]:
df_Final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
dtypes: float64(1), object(10)
memory usage: 1.2+ MB

In [10]:
import numpy as np
df_Final.isnull().sum()

Airline               0
Date_of_Journey       0
Source                0
Destination           0
Route                 1
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2671
dtype: int64

Route,Total-stops,Price has null values

FEATURE ENGINEERING

In [12]:
df_Final['Date']=df_Final['Date_of_Journey'].str.split('/').str[0]
df_Final['Month']=df_Final['Date_of_Journey'].str.split('/').str[1]
df_Final['Year']=df_Final['Date_of_Journey'].str.split('/').str[2]

In [13]:
df_Final['Date']=df_Final['Date'].astype(int)
df_Final['Month']=df_Final['Month'].astype(int)
df_Final['Year']=df_Final['Year'].astype(int)

In [14]:
df_Final=df_Final.drop(['Date_of_Journey'],axis=1)

In [15]:
df_Final.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR ? DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,3,2019
1,Air India,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019
2,Jet Airways,Delhi,Cochin,DEL ? LKO ? BOM ? COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,9,6,2019
3,IndiGo,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,5,2019
4,IndiGo,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,1,3,2019

In [16]:
df_Final['Arrival_Time']=df_Final['Arrival_Time'].str.split(' ').str[0]

In [17]:
df_Final.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR ? DEL,22:20,01:10,2h 50m,non-stop,No info,3897.0,24,3,2019
1,Air India,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019
2,Jet Airways,Delhi,Cochin,DEL ? LKO ? BOM ? COK,09:25,04:25,19h,2 stops,No info,13882.0,9,6,2019
3,IndiGo,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,5,2019
4,IndiGo,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,1,3,2019

In [18]:
df_Final['Total_Stops']=df_Final['Total_Stops'].fillna('1 stop')

In [19]:
df_Final['Total_Stops']=df_Final['Total_Stops'].replace('non-stop','0 stop')

In [20]:
df_Final.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR ? DEL,22:20,01:10,2h 50m,0 stop,No info,3897.0,24,3,2019
1,Air India,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019
2,Jet Airways,Delhi,Cochin,DEL ? LKO ? BOM ? COK,09:25,04:25,19h,2 stops,No info,13882.0,9,6,2019
3,IndiGo,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,5,2019
4,IndiGo,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,1,3,2019

In [23]:
df_Final['Stops'] = df_Final['Total_Stops'].str.split(' ').str[0]

In [24]:
df_Final.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,TotalStops,Stops
0,IndiGo,Banglore,New Delhi,BLR ? DEL,22:20,01:10,2h 50m,0 stop,No info,3897.0,24,3,2019,0,0
1,Air India,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019,2,2
2,Jet Airways,Delhi,Cochin,DEL ? LKO ? BOM ? COK,09:25,04:25,19h,2 stops,No info,13882.0,9,6,2019,2,2
3,IndiGo,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,5,2019,1,1
4,IndiGo,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,1,3,2019,1,1

In [27]:
df_Final['TotalStops']=df_Final['TotalStops'].astype(int)
df_Final=df_Final.drop(['Total_Stops'],axis=1)
df_Final=df_Final.drop(['Stops'],axis=1)

In [28]:
df_Final.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Additional_Info,Price,Date,Month,Year,TotalStops
0,IndiGo,Banglore,New Delhi,BLR ? DEL,22:20,01:10,2h 50m,No info,3897.0,24,3,2019,0
1,Air India,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,05:50,13:15,7h 25m,No info,7662.0,1,5,2019,2
2,Jet Airways,Delhi,Cochin,DEL ? LKO ? BOM ? COK,09:25,04:25,19h,No info,13882.0,9,6,2019,2
3,IndiGo,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,23:30,5h 25m,No info,6218.0,12,5,2019,1
4,IndiGo,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,21:35,4h 45m,No info,13302.0,1,3,2019,1

In [29]:
df_Final['Arrival_Hour'] = df_Final['Arrival_Time'] .str.split(':').str[0]
df_Final['Arrival_Minute'] = df_Final['Arrival_Time'] .str.split(':').str[1]

In [31]:
df_Final['Arrival_Hour']=df_Final['Arrival_Hour'].astype(int)
df_Final['Arrival_Minute']=df_Final['Arrival_Minute'].astype(int)
df_Final=df_Final.drop(['Arrival_Time'],axis=1)

In [32]:
df_Final.head()

,Airline,Source,Destination,Route,Dep_Time,Duration,Additional_Info,Price,Date,Month,Year,TotalStops,Arrival_Hour,Arrival_Minute
0,IndiGo,Banglore,New Delhi,BLR ? DEL,22:20,2h 50m,No info,3897.0,24,3,2019,0,1,10
1,Air India,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,05:50,7h 25m,No info,7662.0,1,5,2019,2,13,15
2,Jet Airways,Delhi,Cochin,DEL ? LKO ? BOM ? COK,09:25,19h,No info,13882.0,9,6,2019,2,4,25
3,IndiGo,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,5h 25m,No info,6218.0,12,5,2019,1,23,30
4,IndiGo,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,4h 45m,No info,13302.0,1,3,2019,1,21,35

In [33]:
df_Final['Departure_Hour'] = df_Final['Dep_Time'] .str.split(':').str[0]
df_Final['Departure_Minute'] = df_Final['Dep_Time'] .str.split(':').str[1]

In [34]:
df_Final['Departure_Hour']=df_Final['Departure_Hour'].astype(int)
df_Final['Departure_Minute']=df_Final['Departure_Minute'].astype(int)
df_Final=df_Final.drop(['Dep_Time'],axis=1)

In [35]:
df_Final.head()

,Airline,Source,Destination,Route,Duration,Additional_Info,Price,Date,Month,Year,TotalStops,Arrival_Hour,Arrival_Minute,Departure_Hour,Departure_Minute
0,IndiGo,Banglore,New Delhi,BLR ? DEL,2h 50m,No info,3897.0,24,3,2019,0,1,10,22,20
1,Air India,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,7h 25m,No info,7662.0,1,5,2019,2,13,15,5,50
2,Jet Airways,Delhi,Cochin,DEL ? LKO ? BOM ? COK,19h,No info,13882.0,9,6,2019,2,4,25,9,25
3,IndiGo,Kolkata,Banglore,CCU ? NAG ? BLR,5h 25m,No info,6218.0,12,5,2019,1,23,30,18,5
4,IndiGo,Banglore,New Delhi,BLR ? NAG ? DEL,4h 45m,No info,13302.0,1,3,2019,1,21,35,16,50

In [36]:
df_Final['Route_1']=df_Final['Route'].str.split('?').str[0]
df_Final['Route_2']=df_Final['Route'].str.split('?').str[1]
df_Final['Route_3']=df_Final['Route'].str.split('?').str[2]
df_Final['Route_4']=df_Final['Route'].str.split('?').str[3]
df_Final['Route_5']=df_Final['Route'].str.split('?').str[4]

In [37]:
df_Final.head()

,Airline,Source,Destination,Route,Duration,Additional_Info,Price,Date,Month,Year,TotalStops,Arrival_Hour,Arrival_Minute,Departure_Hour,Departure_Minute,Route_1,Route_2,Route_3,Route_4,Route_5
0,IndiGo,Banglore,New Delhi,BLR ? DEL,2h 50m,No info,3897.0,24,3,2019,0,1,10,22,20,BLR,DEL,NaN,NaN,NaN
1,Air India,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,7h 25m,No info,7662.0,1,5,2019,2,13,15,5,50,CCU,IXR,BBI,BLR,NaN
2,Jet Airways,Delhi,Cochin,DEL ? LKO ? BOM ? COK,19h,No info,13882.0,9,6,2019,2,4,25,9,25,DEL,LKO,BOM,COK,NaN
3,IndiGo,Kolkata,Banglore,CCU ? NAG ? BLR,5h 25m,No info,6218.0,12,5,2019,1,23,30,18,5,CCU,NAG,BLR,NaN,NaN
4,IndiGo,Banglore,New Delhi,BLR ? NAG ? DEL,4h 45m,No info,13302.0,1,3,2019,1,21,35,16,50,BLR,NAG,DEL,NaN,NaN

In [39]:
df_Final['Route_1'].fillna("None",inplace=True)
df_Final['Route_2'].fillna("None",inplace=True)
df_Final['Route_3'].fillna("None",inplace=True)
df_Final['Route_4'].fillna("None",inplace=True)
df_Final['Route_5'].fillna("None",inplace=True)

In [40]:
df_Final.head()

,Airline,Source,Destination,Route,Duration,Additional_Info,Price,Date,Month,Year,TotalStops,Arrival_Hour,Arrival_Minute,Departure_Hour,Departure_Minute,Route_1,Route_2,Route_3,Route_4,Route_5
0,IndiGo,Banglore,New Delhi,BLR ? DEL,2h 50m,No info,3897.0,24,3,2019,0,1,10,22,20,BLR,DEL,None,None,None
1,Air India,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,7h 25m,No info,7662.0,1,5,2019,2,13,15,5,50,CCU,IXR,BBI,BLR,None
2,Jet Airways,Delhi,Cochin,DEL ? LKO ? BOM ? COK,19h,No info,13882.0,9,6,2019,2,4,25,9,25,DEL,LKO,BOM,COK,None
3,IndiGo,Kolkata,Banglore,CCU ? NAG ? BLR,5h 25m,No info,6218.0,12,5,2019,1,23,30,18,5,CCU,NAG,BLR,None,None
4,IndiGo,Banglore,New Delhi,BLR ? NAG ? DEL,4h 45m,No info,13302.0,1,3,2019,1,21,35,16,50,BLR,NAG,DEL,None,None

In [41]:
df_Final=df_Final.drop(['Route'],axis=1)
df_Final=df_Final.drop(['Duration'],axis=1)

In [42]:
df_Final.head()

,Airline,Source,Destination,Additional_Info,Price,Date,Month,Year,TotalStops,Arrival_Hour,Arrival_Minute,Departure_Hour,Departure_Minute,Route_1,Route_2,Route_3,Route_4,Route_5
0,IndiGo,Banglore,New Delhi,No info,3897.0,24,3,2019,0,1,10,22,20,BLR,DEL,None,None,None
1,Air India,Kolkata,Banglore,No info,7662.0,1,5,2019,2,13,15,5,50,CCU,IXR,BBI,BLR,None
2,Jet Airways,Delhi,Cochin,No info,13882.0,9,6,2019,2,4,25,9,25,DEL,LKO,BOM,COK,None
3,IndiGo,Kolkata,Banglore,No info,6218.0,12,5,2019,1,23,30,18,5,CCU,NAG,BLR,None,None
4,IndiGo,Banglore,New Delhi,No info,13302.0,1,3,2019,1,21,35,16,50,BLR,NAG,DEL,None,None

In [45]:
df_Final['Price'].fillna((df_Final['Price'].mean()),inplace=True)

In [46]:
df_Final.isnull().sum()

Airline             0
Source              0
Destination         0
Additional_Info     0
Price               0
Date                0
Month               0
Year                0
TotalStops          0
Arrival_Hour        0
Arrival_Minute      0
Departure_Hour      0
Departure_Minute    0
Route_1             0
Route_2             0
Route_3             0
Route_4             0
Route_5             0
dtype: int64

ENCODING

In [51]:
from sklearn.preprocessing import LabelEncoder
LE=LabelEncoder()
df_Final["Airline"]=LE.fit_transform(df_Final['Airline'])

In [52]:
from sklearn.preprocessing import LabelEncoder
LE=LabelEncoder()
df_Final["Source"]=LE.fit_transform(df_Final['Source'])

In [55]:
from sklearn.preprocessing import LabelEncoder
LE=LabelEncoder()
df_Final["Route_1"]=LE.fit_transform(df_Final['Route_1'])

In [56]:
from sklearn.preprocessing import LabelEncoder
LE=LabelEncoder()
df_Final["Route_2"]=LE.fit_transform(df_Final['Route_2'])

In [57]:
from sklearn.preprocessing import LabelEncoder
LE=LabelEncoder()
df_Final["Route_3"]=LE.fit_transform(df_Final['Route_3'])

In [58]:
from sklearn.preprocessing import LabelEncoder
LE=LabelEncoder()
df_Final["Route_4"]=LE.fit_transform(df_Final['Route_4'])

In [59]:
from sklearn.preprocessing import LabelEncoder
LE=LabelEncoder()
df_Final["Route_5"]=LE.fit_transform(df_Final['Route_5'])

In [60]:
from sklearn.preprocessing import LabelEncoder
LE=LabelEncoder()
df_Final["Destination"]=LE.fit_transform(df_Final['Destination'])

In [61]:
df_Final.head()

,Airline,Source,Destination,Additional_Info,Price,Date,Month,Year,TotalStops,Arrival_Hour,Arrival_Minute,Departure_Hour,Departure_Minute,Route_1,Route_2,Route_3,Route_4,Route_5
0,3,0,5,No info,3897.0,24,3,2019,0,1,10,22,20,0,13,30,13,5
1,1,3,0,No info,7662.0,1,5,2019,2,13,15,5,50,2,25,1,3,5
2,4,2,1,No info,13882.0,9,6,2019,2,4,25,9,25,3,32,4,5,5
3,3,3,0,No info,6218.0,12,5,2019,1,23,30,18,5,2,34,3,13,5
4,3,0,5,No info,13302.0,1,3,2019,1,21,35,16,50,0,34,8,13,5

In [62]:
df_Final=df_Final.drop(['Additional_Info'],axis=1)

In [63]:
df_Final.head()

,Airline,Source,Destination,Price,Date,Month,Year,TotalStops,Arrival_Hour,Arrival_Minute,Departure_Hour,Departure_Minute,Route_1,Route_2,Route_3,Route_4,Route_5
0,3,0,5,3897.0,24,3,2019,0,1,10,22,20,0,13,30,13,5
1,1,3,0,7662.0,1,5,2019,2,13,15,5,50,2,25,1,3,5
2,4,2,1,13882.0,9,6,2019,2,4,25,9,25,3,32,4,5,5
3,3,3,0,6218.0,12,5,2019,1,23,30,18,5,2,34,3,13,5
4,3,0,5,13302.0,1,3,2019,1,21,35,16,50,0,34,8,13,5

SCALING

In [66]:
from sklearn.preprocessing import MinMaxScaler
mms=MinMaxScaler()
scaled = mms.fit_transform(df_Final)
print(scaled)

[[0.27272727 0.         1.         ... 1.         1.         1.        ]
 [0.09090909 0.75       0.         ... 0.03333333 0.23076923 1.        ]
 [0.36363636 0.5        0.2        ... 0.13333333 0.38461538 1.        ]
 ...
 [0.36363636 0.5        0.2        ... 0.2        1.         1.        ]
 [0.09090909 0.5        0.2        ... 0.2        1.         1.        ]
 [0.54545455 0.5        0.2        ... 0.2        1.         1.        ]]

BUILDING MODEL

In [76]:
df_train=df_Final[0:10683]
df_test=df_Final[10683:]

In [77]:
x=df_train.drop(['Price'],axis=1)
y=df_train.Price

In [78]:
x.head()

,Airline,Source,Destination,Date,Month,Year,TotalStops,Arrival_Hour,Arrival_Minute,Departure_Hour,Departure_Minute,Route_1,Route_2,Route_3,Route_4,Route_5
0,3,0,5,24,3,2019,0,1,10,22,20,0,13,30,13,5
1,1,3,0,1,5,2019,2,13,15,5,50,2,25,1,3,5
2,4,2,1,9,6,2019,2,4,25,9,25,3,32,4,5,5
3,3,3,0,12,5,2019,1,23,30,18,5,2,34,3,13,5
4,3,0,5,1,3,2019,1,21,35,16,50,0,34,8,13,5

In [79]:
y.head()

0     3897.0
1     7662.0
2    13882.0
3     6218.0
4    13302.0
Name: Price, dtype: float64

In [80]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

for i in range(0,100):
    x_train, x_test,y_train,y_test = train_test_split(x, y, test_size=0.33, random_state=i)
    lr=LinearRegression()
    lr.fit(x_train,y_train)
    pred_train=lr.predict(x_train)
    pred_test=lr.predict(x_test)
    print(f"at random state {i} the training accuracy is:-{r2_score (y_train,pred_train)}")
    print(f"at random state {i} the testing accuracy is:-{r2_score (y_test,pred_test)}")
    print("\n")

at random state 0 the training accuracy is:-0.48998311679094064
at random state 0 the testing accuracy is:-0.500588322505228


at random state 1 the training accuracy is:-0.4883084820147109
at random state 1 the testing accuracy is:-0.5041337779529643


at random state 2 the training accuracy is:-0.4871074135991381
at random state 2 the testing accuracy is:-0.5061255176955717


at random state 3 the training accuracy is:-0.4869360807334072
at random state 3 the testing accuracy is:-0.5062900400386009


at random state 4 the training accuracy is:-0.48367844619294154
at random state 4 the testing accuracy is:-0.5146625212515122


at random state 5 the training accuracy is:-0.4986284076062826
at random state 5 the testing accuracy is:-0.4833350844860126


at random state 6 the training accuracy is:-0.49003797042160446
at random state 6 the testing accuracy is:-0.5001843956727651


at random state 7 the training accuracy is:-0.4828465313037107
at random state 7 the testing accuracy is:-0.5162445252758392


at random state 8 the training accuracy is:-0.4991814175223832
at random state 8 the testing accuracy is:-0.4789053086268461


at random state 9 the training accuracy is:-0.4797977418852156
at random state 9 the testing accuracy is:-0.5230794709195645


at random state 10 the training accuracy is:-0.4915148927000226
at random state 10 the testing accuracy is:-0.49722359563568597


at random state 11 the training accuracy is:-0.49312145619826
at random state 11 the testing accuracy is:-0.493172604575563


at random state 12 the training accuracy is:-0.5019850001145005
at random state 12 the testing accuracy is:-0.47726043246768923


at random state 13 the training accuracy is:-0.4844932676126412
at random state 13 the testing accuracy is:-0.5125867823981238


at random state 14 the training accuracy is:-0.5074017931293063
at random state 14 the testing accuracy is:-0.46688041509782885


at random state 15 the training accuracy is:-0.4914225896476794
at random state 15 the testing accuracy is:-0.4969930295280258


at random state 16 the training accuracy is:-0.49563470576561086
at random state 16 the testing accuracy is:-0.48809617680364514


at random state 17 the training accuracy is:-0.49903802043924406
at random state 17 the testing accuracy is:-0.4817255641313529


at random state 18 the training accuracy is:-0.4983317109474956
at random state 18 the testing accuracy is:-0.4829927388325729


at random state 19 the training accuracy is:-0.49104592419251025
at random state 19 the testing accuracy is:-0.49722810954394925


at random state 20 the training accuracy is:-0.4950361626296612
at random state 20 the testing accuracy is:-0.4883172078601461


at random state 21 the training accuracy is:-0.4879874867574543
at random state 21 the testing accuracy is:-0.5037081518822747


at random state 22 the training accuracy is:-0.49315221116348174
at random state 22 the testing accuracy is:-0.4939786382425586


at random state 23 the training accuracy is:-0.49019888852291216
at random state 23 the testing accuracy is:-0.49860314737933453


at random state 24 the training accuracy is:-0.49311148057666165
at random state 24 the testing accuracy is:-0.4938710895278542


at random state 25 the training accuracy is:-0.4972481675977567
at random state 25 the testing accuracy is:-0.4862426141109397


at random state 26 the training accuracy is:-0.49504548420401684
at random state 26 the testing accuracy is:-0.4897184634435102


at random state 27 the training accuracy is:-0.49343275592928304
at random state 27 the testing accuracy is:-0.49167607162255034


at random state 28 the training accuracy is:-0.49570786359171015
at random state 28 the testing accuracy is:-0.48826710304194276


at random state 29 the training accuracy is:-0.48668335053241507
at random state 29 the testing accuracy is:-0.5055086709226587


at random state 30 the training accuracy is:-0.48977726502027885
at random state 30 the testing accuracy is:-0.500892179125022


at random state 31 the training accuracy is:-0.48335028598917884
at random state 31 the testing accuracy is:-0.5151452736876078


at random state 32 the training accuracy is:-0.4908870756882677
at random state 32 the testing accuracy is:-0.49661218174828525


at random state 33 the training accuracy is:-0.48735827436205914
at random state 33 the testing accuracy is:-0.5053993422667014


at random state 34 the training accuracy is:-0.5050723998935644
at random state 34 the testing accuracy is:-0.46950745008625283


at random state 35 the training accuracy is:-0.49594450080938635
at random state 35 the testing accuracy is:-0.48749323799530475


at random state 36 the training accuracy is:-0.5008679622634828
at random state 36 the testing accuracy is:-0.4784590605069494


at random state 37 the training accuracy is:-0.48691530417569084
at random state 37 the testing accuracy is:-0.5078298165212134


at random state 38 the training accuracy is:-0.5041876899938641
at random state 38 the testing accuracy is:-0.47213068272179115


at random state 39 the training accuracy is:-0.4887512006581428
at random state 39 the testing accuracy is:-0.502781108991607


at random state 40 the training accuracy is:-0.5013871145733815
at random state 40 the testing accuracy is:-0.4781181968279977


at random state 41 the training accuracy is:-0.49869191904193355
at random state 41 the testing accuracy is:-0.48173480449971295


at random state 42 the training accuracy is:-0.4856799689975485
at random state 42 the testing accuracy is:-0.5098367263983197


at random state 43 the training accuracy is:-0.4966539613800798
at random state 43 the testing accuracy is:-0.4870592696554049


at random state 44 the training accuracy is:-0.49571398235976816
at random state 44 the testing accuracy is:-0.48789884041254195


at random state 45 the training accuracy is:-0.5018890091589148
at random state 45 the testing accuracy is:-0.47508153730179914


at random state 46 the training accuracy is:-0.5046516581269072
at random state 46 the testing accuracy is:-0.47088122897424933


at random state 47 the training accuracy is:-0.48973319769294443
at random state 47 the testing accuracy is:-0.5012484676704962


at random state 48 the training accuracy is:-0.5092305787552887
at random state 48 the testing accuracy is:-0.4636507042420156


at random state 49 the training accuracy is:-0.48925973632273145
at random state 49 the testing accuracy is:-0.5021182259059129


at random state 50 the training accuracy is:-0.48958547308076805
at random state 50 the testing accuracy is:-0.5008207311745634


at random state 51 the training accuracy is:-0.48912083862038835
at random state 51 the testing accuracy is:-0.5014602044452481


at random state 52 the training accuracy is:-0.48522614969326827
at random state 52 the testing accuracy is:-0.5121543890939224


at random state 53 the training accuracy is:-0.5088767193789873
at random state 53 the testing accuracy is:-0.46388468262894844


at random state 54 the training accuracy is:-0.49229111671329373
at random state 54 the testing accuracy is:-0.4955344655794953


at random state 55 the training accuracy is:-0.4894535190959767
at random state 55 the testing accuracy is:-0.5008069370272248


at random state 56 the training accuracy is:-0.501518013936196
at random state 56 the testing accuracy is:-0.4777094302949214


at random state 57 the training accuracy is:-0.49868272871080166
at random state 57 the testing accuracy is:-0.482697547012766


at random state 58 the training accuracy is:-0.4924782323333403
at random state 58 the testing accuracy is:-0.49468716143140545


at random state 59 the training accuracy is:-0.49183914642774307
at random state 59 the testing accuracy is:-0.49565292448815235


at random state 60 the training accuracy is:-0.49146541990870085
at random state 60 the testing accuracy is:-0.4971776401552749


at random state 61 the training accuracy is:-0.49591005255567755
at random state 61 the testing accuracy is:-0.4873850886710138


at random state 62 the training accuracy is:-0.4987772868465262
at random state 62 the testing accuracy is:-0.4818379018432173


at random state 63 the training accuracy is:-0.5078540423936754
at random state 63 the testing accuracy is:-0.46521429623032917


at random state 64 the training accuracy is:-0.48493803337795804
at random state 64 the testing accuracy is:-0.5114043739488534


at random state 65 the training accuracy is:-0.49247166224980676
at random state 65 the testing accuracy is:-0.49437425360016374


at random state 66 the training accuracy is:-0.49778259574620076
at random state 66 the testing accuracy is:-0.4838925868915446


at random state 67 the training accuracy is:-0.4857107192415281
at random state 67 the testing accuracy is:-0.5112449166337336


at random state 68 the training accuracy is:-0.48942278576321885
at random state 68 the testing accuracy is:-0.5012688729739787


at random state 69 the training accuracy is:-0.5032763775177234
at random state 69 the testing accuracy is:-0.47479249303340054


at random state 70 the training accuracy is:-0.5119361193817002
at random state 70 the testing accuracy is:-0.45438663321565553


at random state 71 the training accuracy is:-0.49855185559711324
at random state 71 the testing accuracy is:-0.48300595222118714


at random state 72 the training accuracy is:-0.48965807708904685
at random state 72 the testing accuracy is:-0.500604833563955


at random state 73 the training accuracy is:-0.48901180551845325
at random state 73 the testing accuracy is:-0.5012491959456846


at random state 74 the training accuracy is:-0.5082147570987001
at random state 74 the testing accuracy is:-0.46666779812990733


at random state 75 the training accuracy is:-0.49734718043421566
at random state 75 the testing accuracy is:-0.48570759270398234


at random state 76 the training accuracy is:-0.4985827823130018
at random state 76 the testing accuracy is:-0.48351396129590885


at random state 77 the training accuracy is:-0.48127902405660417
at random state 77 the testing accuracy is:-0.5185985080878983


at random state 78 the training accuracy is:-0.49878382865507986
at random state 78 the testing accuracy is:-0.48263106777843945


at random state 79 the training accuracy is:-0.4893523375665464
at random state 79 the testing accuracy is:-0.501912270960865


at random state 80 the training accuracy is:-0.4878945669401955
at random state 80 the testing accuracy is:-0.5057945670185175


at random state 81 the training accuracy is:-0.4934347959076064
at random state 81 the testing accuracy is:-0.49315348402575276


at random state 82 the training accuracy is:-0.4916359873163
at random state 82 the testing accuracy is:-0.49713128632591164


at random state 83 the training accuracy is:-0.514396526819741
at random state 83 the testing accuracy is:-0.4570921505240565


at random state 84 the training accuracy is:-0.4978665829211204
at random state 84 the testing accuracy is:-0.4838887947349091


at random state 85 the training accuracy is:-0.49534401286326746
at random state 85 the testing accuracy is:-0.48753334157113803


at random state 86 the training accuracy is:-0.5094721127464814
at random state 86 the testing accuracy is:-0.46232659155945


at random state 87 the training accuracy is:-0.4930472392898195
at random state 87 the testing accuracy is:-0.4936188704540744


at random state 88 the training accuracy is:-0.49939018437511473
at random state 88 the testing accuracy is:-0.48167693335716844


at random state 89 the training accuracy is:-0.4978325745319919
at random state 89 the testing accuracy is:-0.4851385789002012


at random state 90 the training accuracy is:-0.49023429118017137
at random state 90 the testing accuracy is:-0.4992590149348751


at random state 91 the training accuracy is:-0.4969092270018949
at random state 91 the testing accuracy is:-0.4850407530184532


at random state 92 the training accuracy is:-0.489362876017863
at random state 92 the testing accuracy is:-0.5023315618658009


at random state 93 the training accuracy is:-0.4923348557086349
at random state 93 the testing accuracy is:-0.49524802657645006


at random state 94 the training accuracy is:-0.5112772198209793
at random state 94 the testing accuracy is:-0.4604643017437021


at random state 95 the training accuracy is:-0.4804541879102513
at random state 95 the testing accuracy is:-0.5206989498755537


at random state 96 the training accuracy is:-0.500055265327044
at random state 96 the testing accuracy is:-0.4805708819308355


at random state 97 the training accuracy is:-0.4989109983179325
at random state 97 the testing accuracy is:-0.48216854214939564


at random state 98 the training accuracy is:-0.48009812145501773
at random state 98 the testing accuracy is:-0.5244736527784132


at random state 99 the training accuracy is:-0.4858612223574136
at random state 99 the testing accuracy is:-0.5093050587601193

In [81]:
x_train, x_test,y_train,y_test = train_test_split(x, y, test_size=0.33, random_state=6)

In [82]:
lr.fit(x_train,y_train)

LinearRegression()

In [83]:
pred_test=lr.predict(x_test)

In [84]:
print(r2_score (y_test,pred_test))

0.5001843956727651

In [85]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score

from sklearn.linear_model import Lasso
parameters = {'alpha':[.0001,.001,.01,.1,1,10],'random_state':(range(0,10))}
ls= Lasso()
clf = GridSearchCV(ls,parameters)
clf.fit(x_train,y_train)
print(clf.best_params_)

{'alpha': 1, 'random_state': 0}

In [86]:
ls = Lasso(alpha=1,random_state=0)
ls.fit(x_train,y_train)
ls.score(x_train,y_train)
pred_ls = ls.predict(x_test)
lss = r2_score(y_test,pred_ls)
lss

0.5000836089612213

RANDOM FOREST

In [87]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
parameters = {'criterion':['mse','mae'],'max_features':["auto","sqrt","log2"]}
rf = RandomForestRegressor()
clf = GridSearchCV(rf,parameters)
clf.fit(x_train,y_train)
print(clf.best_params_)

{'criterion': 'mse', 'max_features': 'auto'}

SVR

In [89]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score
from sklearn.metrics import r2_score
rf = RandomForestRegressor(criterion="mse",max_features="auto")
rf.fit(x_train,y_train)
rf.score(x_train,y_train)
pred_rf = rf.predict(x_test)
rfs = r2_score(y_test,pred_rf)
print('R2 Score:', rfs*100)
rfscore = cross_val_score(rf,x,y,cv=5)
rfc = rfscore.mean()
print('Cross Val Score:',rfc*100)

R2 Score: 81.99755505527241
Cross Val Score: 82.31096365446982

In [90]:
y_pred = rf.predict(x_test)
y_pred

array([ 4436.55  ,  4896.78  , 12067.0085, ...,  3907.96  ,  6099.09  ,
        6681.59  ])

In [95]:

from sklearn.svm import SVR
from sklearn.model_selection import cross_val_score
from sklearn.metrics import r2_score
sv = SVR()
sv.fit(x_train,y_train)
sv.score(x_train,y_train)
pred_rf = rf.predict(x_test)
svs = r2_score(y_test,pred_rf)
print('R2 Score:', svs*100)
svscore = cross_val_score(sv,x,y,cv=5)
svc = svscore.mean()
print('Cross Val Score:',rfc*100)

R2 Score: 81.99755505527241
Cross Val Score: 82.31096365446982

In [96]:
y_pred = sv.predict(x_test)
y_pred

array([8424.30558557, 8424.34989469, 8425.28692265, ..., 8424.26357364,
       8424.99511904, 8424.92594737])